{% extends 'base.html' %}
{% block title %}OHC | Edit Profile{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row d-flex justify-content-center">
    <div class="card mt-5 col-md-8">
        <h5 class="card-header">Edit Profile</h5>
        <div class="card-body">
            
            <form class="form-reset p-4 rounded update-form" method="post" enctype="multipart/form-data">

                {% if user_form.is_valid and profile_form.is_valid  %}
                <div class="alert alert-primary" role="alert">
                    Details successfully updated!
                </div>
                <p class="small text-center pt-0">
                    <a href="{% url 'accounts:profile' %}">Back to Dashboard</a>
                </p>
                {%else%}
                <p class=" h4 mb-4 font-weight-bold">Change your details</p>
                <p>You can edit your account using the following form:</p>
                {% endif %}

                {% if form.errors %}
                <div class="alert alert-primary" role="alert">
                    Error: Please try again!
                </div>
                {% endif %}

                {% csrf_token %}
                <label class="small font-weight-bold">{{ profile_form.bio.label}}</label>
                {{ profile_form.bio }}
                <div class="row">
                    <div class="col">
                <label class="small font-weight-bold">First Name: </label>
                {{ user_form.first_name }}
                </div>
                <div class="col">
                <label class="small font-weight-bold">Last Name:</label>
                {{ user_form.last_name }}
                </div>
                </div>
                <div class="row">
                    <div class="col">
                <label class="small font-weight-bold">Username:</label>
                {{ user_form.username }}            
                </div>                
                <div class="col">
                <label class="small font-weight-bold">Email:</label>
                {{ user_form.email }}    
                </div>
                </div>

               


                <button class="btn btn-primary py-2 mb-4 mt-5 font-weight-bold" type="submit"
                    value="Save changes">Save Changes</button>
            </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}