{% extends 'admin/admin-base.html' %}
{% block title %}User Login{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
 <!-- Page Content -->

    <div class="container-fluid px-4">
        <div class="row g-3 my-2">
            
            <div class="col-md-4">
                <div class="p-3 card bg-primary shadow-sm d-flex justify-content-around align-items-center rounded">
                    <h4>Latest Questions(1 day)</h4>
                    <div>
                        <h3 class="fs-2">{{latestQuestions.count}}</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="p-3 card bg-success shadow-sm d-flex justify-content-around align-items-center rounded">
                    <h4>Latest Answers</h4>
                    <div>
                        <h3 class="fs-2">{{latestAnswers.count}}</h3>
                    </div>
                                </div>
            </div>

            <div class="col-md-4">
                <div class="p-3 card bg-info shadow-sm d-flex justify-content-around align-items-center rounded">
                    <h4>New Users</h4>
                    <div>
                        <h3 class="fs-2">{{newUsers.count}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <h3 class="fs-4 mb-3">Recent Qustions</h3>
            <div class="col">
                <table class="table bg-white rounded shadow-sm  table-hover">
                    <thead>
                        <tr>
                            <th scope="col" width="50">#</th>
                            <th scope="col">Question</th>
                            <th scope="col">Author</th>
                            <th scope="col">Answer Count</th>
                            <th scope="col">Created at</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in latestQuestions %}
                        <tr>
                            <th scope="row">{{question.id}}</th>
                            <td><a href="{% url 'main:single_question_page' question.id %}">{{question.title}}</a> </td>
                            <td>{{question.user}}</td>
                            <td>{{question.answer_set.count}}</td>
                            <td>{{question.add_time}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

</div>
{% endblock %}
