{% extends 'admin/admin-base.html' %}
{% block title %}User Login{% endblock %}
{% block content %}
<div class="container-fluid px-4">
<div class="row ">
    <h3 class="fs-4 mb-3">Questions</h3>
    <div class="col">
        <table class="table bg-white rounded shadow-sm table-hover">
            <thead>
                <tr>
                    <th scope="col" width="50">#</th>
                    <th scope="col">Topic</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in topics %}
                <tr>
                    <th scope="row">{{topic.id}}</th>
                    <td scope="col">{{topic.topic}}</td>
                    <td scope="col"><a class="btn btn-primary btn-sm" href="{% url 'accounts:topic' topic.id %}">View Topic</a></td>
                
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}
