{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% load humanize %}
{% block title %}OHC | {{question.title}}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<br>
<div class="container">
<div class="row d-flex justify-content-center">
	<div class="col-md-6">
		<div class="card card-body mb-3">
			
			<p>Are you sure you want to delete "{{answer.answer}}"?</p>

			<form method="POST" action="{% url 'main:delete_answer' answer.id %}">
				 {% csrf_token %}
				 {% if request.user|has_group:"moderators" or request.user|has_group:"admins" %}

				<a class="btn btn-warning" href="{% url 'accounts:single_question_page' answer.question.id %}">Cancel</a>
				{% else %}
				<a class="btn btn-warning" href="{% url 'main:single_question_page' answer.question.id %}">Cancel</a>
				{% endif %}
				<input class="btn btn-danger" type="submit" value="Delete" name="Confirm">
			</form>
		</div>
	</div>
</div>
</div>

{% endblock %}