<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="/">OHC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <form class="ml-auto" method="GET" action="{% url 'main:question-search' %}">
            <div class="input-group col-auto">
              <input type="text" name="q" class="form-control form-control-lg" placeholder="Search" />
              <div class="input-group-append">
                <button class="btn btn-outline-primary btn-lg" type="submit" id="button-addon2">Search</button>
              </div>
            </div>
          </form>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/ask-question">Ask Question</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/questions">Questions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/topics">Topics</a>
          </li>
              <li class="nav-item">
                <a class="nav-link" href="/tags">Tags</a>
            </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
              <a class="nav-link" href="{% url 'main:favourite_list' %}">Saved Posts</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/account/profile/{{user.id}}">Profile</a>
              </li>                                  
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="/account/login">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/account/register">Register</a>
              </li>
              {% endif %}
          </ul>
</div>
  </div>
</nav>
