{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}OHC | {{question.title}}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Question -->
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card mt-1 col-md-8">
          <h2 class="my-4">{{question.title}}</h2>
        <p>{{question.body}}</p>
        <p>
            tags:
            {% for tag in tags %}
            <a href="/tag/{{tag|slugify}}" class="badge badge-secondary p-1">{{tag}}</a>
            {% endfor %}
        </p>
        <p>
            {% if question.user.id == request.user.id %}
            <a class="btn btn-sm btn-primary mr-2" href="{% url 'update_question' question.id %}">Edit</a>
            <a class="btn btn-sm btn-danger mr-2" href="{% url 'delete_question' question.id %}">Delete</a>
            {% endif %}
            <span class="mr-4">{{question.add_time|date:'d/m/Y'}}</span>
            <a href="#">{{question.user.username}}</a>
        </p>

        <hr/>
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{answerForm|crispy}}
            <button type="submit" class="btn btn-primary">Post Answer</button>      
        </form>
        <hr/>
        {% endif %}
    <!-- Answer starts here -->
    {% for answer in answers %}
    <div class="row">
    <div class="col-12">
        <p>
            {{ answer.answer }}
        </p>
        <p>
            <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
              </svg>
            <a href="#" class="mr-3">{{answer.user.username}}</a>
            <span class="mr-3"><span class="comment-count-{{answer.id}}"></span> comments</span>
            <span>{{answer.add_time|date:'d/m/Y h:i:s'}}</span>
            {% if answer.user.id == request.user.id %}
            <a class="btn btn-sm btn-primary mr-2" href="">Edit</a>
            {% endif %}
        </p>
        <!-- Comment Section Start -->
        <h3 class="my-4">Comment</h3>
        <div class="comment-wrapper-{{answer.id}}">
            {% for comment in answer.comment_set.all %}
            <div class="card mb-2">
                <div class="card-body">
                    <p>{{comment.comment}}</p>
                    <p>
                        <a href="#">{{comment.user.username}}</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <!-- Comment Form -->
        <div class="card my-3">
            <h6 class="card-header">Add Comment</h6>
            <div class="card-body">
                <textarea class="form-control comment-text-{{answer.id}}"></textarea>
                <button type="button" data-answer="{{answer.id}}" class="btn btn-dark my-3 save-comment">Submit</button>
            </div>
        </div>
        {% endif %}

    </div>
</div>
<hr/>
{% endfor %}


    </div>
        


    </div>
</div>
{% endblock %}