{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{tag}}{% endblock %}
{% block content %}
    <!-- Question List -->
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="card mt-1 col-md-8">
              <h2 class="my-4">{{topic.topic}}</h2>
              {% if is_following %}
              <form method="POST" action="{% url 'main:unfollow-topic' topic.pk %}">
                  {% csrf_token %}
                  <button class="btn btn-outline-danger" type="submit">Unfollow</button>
              </form>
              {% else %}
              <form method="POST" action="{% url 'main:follow-topic' topic.pk %}">
                  {% csrf_token %}
                  <button class="btn btn-outline-success" type="submit">Follow</button>
              </form>
              {% endif %}
              <p>{{number_of_followers}}</p>
<hr>                                    
{% if quests %}
<h4>Questions related to <strong>"{{topic}}"</strong></h4>

{% else %}

{%endif%}
              <div class="">
                {% for quest in quests %}

   <div class="mt-3 mb-3"><a href="{% url 'main:single_question_page' quest.id%}">{{quest.title}}</a></div>


       {% endfor %}

  
              </div>


            </div>
           
        </div>
        
    </div>
   

</div>
  

{% endblock %}